[submodule "lesson1/1.1-helloworld"]
	path = lesson1/1.1-helloworld
	url = https://github.com/timofonic-dam-java-exercises/1-helloworld
[submodule "lesson1/1.2-colors"]
	path = lesson1/1.2-colors
	url = https://github.com/timofonic-dam-java-exercises/1.2-colors
[submodule "lesson1/1.3-specialcharacters"]
	path = lesson1/1.3-specialcharacters
	url = https://github.com/timofonic-dam-java-exercises/1.3-specialcharacters
