[submodule "lesson1/1.1-helloworld"]
	path = lesson1/1.1-helloworld
	url = https://github.com/timofonic-dam-java-exercises/1-helloworld
[submodule "lesson1/1.2-colors"]
	path = lesson1/1.2-colors
	url = https://github.com/timofonic-dam-java-exercises/1.2-colors
[submodule "lesson1/1.3-specialcharacters"]
	path = lesson1/1.3-specialcharacters
	url = https://github.com/timofonic-dam-java-exercises/1.3-specialcharacters
[submodule "lesson1/1.4-formattedoutput"]
	path = lesson1/1.4-formattedoutput
	url = https://github.com/timofonic-dam-java-exercises/1.4-formattedoutput/
[submodule "lesson1/1.4.1-formattedoutput"]
	path = lesson1/1.4.1-formattedoutput
	url = https://github.com/timofonic-dam-java-exercises/1.4.1-formattedoutput2
[submodule "lesson1/1.5.1-showmodule"]
	path = lesson1/1.5.1-showmodule
	url = https://github.com/timofonic-dam-java-exercises/1.5.1-showname/
